@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Empréstimos online</h1>
    <p>leia</p>
    <div>
        <img src="/img/imgBook.png"
    </div>
    
</div>
